# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/src/*.Rhistory
/data/.RData
/data/.Rhistory
/protocols/protocols/*.suo
/protocols/protocols/*.user
